<!-- Pay Rent (R) -->
  <div data-role="content" style="padding: 10px">
    <%= form_for(@rentPayment, :url => { action: "create" }) do |f| %>
      <div data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-mini="true">
        <label for="paymentAmount"> Payment Amount </label>
        <input name="rentPayment[paymentAmount]" id="paymentAmount" placeholder="0.00" value="" type="text" pattern="[0-9]*">
        </fieldset>
      </div>
      <div data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-mini="true">
        <label for="paymentDate"> Pay on this date </label>
        <input name="rentPayment[paymentDate]" id="paymentDate" placeholder="" value="" type="date">
        </fieldset>
      </div>
      <div data-role="fieldcontain">
        <fieldset data-role="controlgroup">
        <label for="firstName"> First Name </label>
        <input name="rentPayment[firstName]" id="firstName" placeholder="" value=""
         type="text">
        </fieldset>
      </div>
      <div data-role="fieldcontain">
        <fieldset data-role="controlgroup">
        <label for="lastName"> Last Name </label>
        <input name="rentPayment[lastName]" id="lastName" placeholder="" value=""
         type="text">
        </fieldset>
      </div>
      <div data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-mini="true">
        <label for="routingNumber"> Routing Number </label>
        <input name="rentPayment[routingNumber]" id="routingNumber" placeholder="" value="" type="text" pattern="[0-9]*">
        </fieldset>
      </div>
      <div data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-mini="true">
        <label for="accountNumber"> Account Number </label>
        <input name="rentPayment[accountNumber]" id="accountNumber" placeholder="" value="" type="text" pattern="[0-9]*">
        </fieldset>
      </div>
      <div data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-type="horizontal">
        <legend> Account Type: </legend>
		<input id="checking" name="rentPayment[accountType]" value="checking" type="radio">
        <label for="checking"> Checking </label>
        <input id="savings" name="rentPayment[accountType]" value="savings" type="radio">
        <label for="savings"> Savings </label>
        </fieldset>
      </div>
	  <div id="checkboxes1" data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-type="vertical">
        <legend> Save Payment Info: </legend>
        <input id="checkbox1" name="Save" type="checkbox">
        <label for="checkbox1"> Save Payment Info </label>
        </fieldset>
      </div>
      <input type="submit" data-theme="b" value="Submit Payment" data-mini="true">
    <% end %>
  </div>