<!-- Pay Rent (R) -->
  <div data-role="content" style="padding: 10px">
    <form action="">
      <div data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-mini="true">
        <label for="currency"> Payment Amount </label>
        <input name="" id="currency" placeholder="$ 0.00" value="" type="text">
        </fieldset>
      </div>
      <div data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-mini="true">
        <label for="textinput6"> Pay on this date </label>
        <input name="" id="textinput6" placeholder="" value="" type="date">
        </fieldset>
      </div>
      <div data-role="fieldcontain">
        <fieldset data-role="controlgroup">
        <label for="textinput9"> First Name </label>
        <input name="FirstName" id="textinput9" placeholder="First Name" value=""
         type="text">
        </fieldset>
      </div>
      <div data-role="fieldcontain">
        <fieldset data-role="controlgroup">
        <label for="textinput10"> Last Name </label>
        <input name="LastName" id="textinput10" placeholder="Last Name" value=""
         type="text">
        </fieldset>
      </div>
      <div data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-mini="true">
        <label for="textinput7"> Routing Number </label>
        <input name="" id="textinput7" placeholder="" value="" type="text">
        </fieldset>
      </div>
      <div data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-mini="true">
        <label for="textinput8"> Account Number </label>
        <input name="" id="textinput8" placeholder="" value="" type="text">
        </fieldset>
      </div>
      <div data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-type="horizontal">
        <legend> Account Type: </legend>
		<input id="radio3" name="" value="checking" type="radio">
        <label for="radio3"> Checking </label>
        <input id="radio4" name="" value="savings" type="radio">
        <label for="radio4"> Savings </label>
        </fieldset>
      </div>
	  <div id="checkboxes1" data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-type="vertical">
        <legend> Save Payment Info: </legend>
        <input id="checkbox1" name="Save" type="checkbox">
        <label for="checkbox1"> Save Payment Info </label>
        </fieldset>
      </div>
      <input type="submit" data-theme="b" value="Submit Payment" data-mini="true">
    </form>
  </div>