<!-- My Rent Info Page -->
<div data-role="content">
	<ul data-role="listview" data-divider-theme="b" data-inset="true">
		<li data-role="list-divider" role="heading">
			My Property
		</li>
		<li data-theme="c">
			Property Info
		</li>
		<li data-theme="c">
			Maybe with multiple fields?
		</li>
		<li data-role="list-divider" role="heading">
			Current Balance
		</li>
		<li data-theme="c">
			$XXX.XX
		</li>
		<li data-role="list-divider" role="heading">
			Total Monthly Rent
		</li>
		<li data-theme="c">
			$XXX.XX
		</li>
	</ul>
</div>
