<!-- Rent Payment View -->
<div data-role="content">
	<ul data-role="listview" data-divider-theme="b" data-inset="true">
		<li data-role="list-divider" role="heading">
			Payment Date
		</li>
		<li data-theme="c">
			<%= @rentPayment.paymentDate.strftime("%m/%d/%y") %>
		</li>
		<li data-role="list-divider" role="heading">
			Payment Amount
		</li>
		<li data-theme="c">
			<%= "$" + @rentPayment.paymentAmount.to_s %>
		</li>
		<li data-role="list-divider" role="heading">
			Paid By
		</li>
		<li data-theme="c">
			<%= @rentPayment.firstName + " " + @rentPayment.lastName %>
		</li>
	</ul>
</div>
