<!-- My Rent Info Page -->
<div data-role="content">
	<div>
		<p>
			<b>
				My Property:
				<br>
			</b>
		</p>
		<p>
			<b>
				&nbsp;&nbsp;&nbsp;&nbsp; Property Info
				<br>
			</b>
		</p>
		<p>
			<b>
				Current Balance:
				<br>
			</b>
		</p>
		<p>
			<b>
				&nbsp;&nbsp;&nbsp;&nbsp; $XXX.XX
				<br>
			</b>
		</p>
		<p>
			<b>
				Last Submitted Payment Date:
				<br>
			</b>
		</p>
		<p>
			<b>
				&nbsp;&nbsp;&nbsp;&nbsp; MM/DD/YY
				<br>
			</b>
		</p>
		<p>
			<b>
				<br>
			</b>
		</p>
	</div>
</div>
