<!-- My Rent Info Page -->
<div data-role="content">
	<ul data-role="listview" data-divider-theme="b" data-inset="true">
		<li data-role="list-divider" role="heading">
			My Property
		</li>
		<li data-theme="c">
			1234 Random Street
		</li>
		<li data-theme="c">
			Goleta, CA
		</li>
		<li data-theme="c">
			93117
		</li>
		<li data-role="list-divider" role="heading">
			Current Balance
		</li>
		<li data-theme="c">
			$700.00
		</li>
		<li data-role="list-divider" role="heading">
			Total Monthly Rent
		</li>
		<li data-theme="c">
			$700.00
		</li>
	</ul>
</div>
