<!-- My Rent Info Page -->
<div data-role="content">
	<ul data-role="listview" data-divider-theme="b" data-inset="true">
		<li data-role="list-divider" role="heading">
			My Property
		</li>
		<li data-theme="c">
			<%= @property.address %>
		</li>
		<!--li data-theme="c">
			Goleta, CA
		</li>
		<li data-theme="c">
			93117
		</li-->
		<li data-role="list-divider" role="heading">
			Current Balance
		</li>
		<li data-theme="c">
			$<%= current_user.currentBalance %>
		</li>
		<li data-role="list-divider" role="heading">
			Total Monthly Rent
		</li>
		<li data-theme="c">
			<%= "$" + @property.monthlyPayment.to_s %>
		</li>
		<% if @property.rentDivisionEnabled == "yes" %>
		<li data-role="list-divider" role="heading">
			Amount Your Responsible For
		</li>
		<li data-theme="c">
			$<%= @property.getUserMonthlyPaymentAmount(current_user.getFullName()) %>
		</li>
		<% end %>
	</ul>
</div>
