<!-- Notifications (N) -->
<div data-role="content">
    <ul data-role="listview" data-divider-theme="b" data-inset="true">
        <li data-role="list-divider" role="heading">
            Rent
        </li>
				<% if current_user.rent_notifications.size > 0 %>
					<% current_user.rent_notifications.each do |notification| %>
						<li data-theme="c">
		            <%= notification.message %>
		        </li>
					<% end %>
				<% else %>
					<li data-theme="c">
	            No rent notifications.
	        </li>
				<% end %>
        <li data-role="list-divider" role="heading">
            Maintenance
        </li>
				<% if current_user.maintenance_notifications.size > 0 %>
					<% current_user.maintenance_notifications.each do |notification| %>
						<li data-theme="c">
		            <%= notification.message %>
		        </li>
					<% end %>
				<% else %>
					<li data-theme="c">
	            No maintenance notifications.
	        </li>
				<% end %>
    </ul>
</div>