<div data-role="content" style="padding: 10px">
	  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %> <!--  note you can add :id => "signIn" to get the id= if needed -->
          
		  <div data-role="fieldcontain">
              <fieldset data-role="controlgroup">
                  <label for="user_email">
                  </label>
                  <input name="user[email]" id="user_email" placeholder="E-mail" value="" type="email">
              </fieldset>
          </div>
          <div data-role="fieldcontain">
              <fieldset data-role="controlgroup">
                  <label for="user_password">
                  </label>
                  <input name="user[password]" id="user_password" placeholder="password" value="" type="password">
              </fieldset>
          </div>
		  <% if devise_mapping.rememberable? %>
		  <div data-role="fieldcontain">
              <fieldset data-role="controlgroup">
                  <%= f.check_box :remember_me %> <%= f.label :remember_me %>
              </fieldset>
          </div>
		  <% end %>
          <input name="commit" type="submit" data-theme="b" value="Login" data-mini="true">
      <% end %>
      <form id="request" action="">
          <div data-role="fieldcontain">
              <fieldset data-role="controlgroup">
                  <label for="request">
                  </label>
                  <input name="request" id="request" placeholder="E-mail" value="" type="email">
              </fieldset>
          </div>
          <input id="request" type="submit" data-theme="b" value="Request Account"
          data-mini="true">
      </form>

  <%= render "devise/shared/links" %>
</div>