<div data-role="content" style="padding: 10px">

<h2>Resend unlock instructions</h2>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  	<div data-role="fieldcontain">
        <fieldset data-role="controlgroup">
            <label for="user_email">
            </label>
            <input name="user[email]" id="user_email" placeholder="E-mail" value="" type="email">
        </fieldset>
    </div>

  <div><%= f.submit "Resend unlock instructions" %></div>
<% end %>

<%= render "devise/shared/links" %>

</div>