<!-- Maintenance Log (M) -->
<div data-role="content">
          <div>
              <p>
                  <span style="font-family: tahoma, arial, helvetica, sans-serif;" data-mce-style="font-family: tahoma, arial, helvetica, sans-serif;">
                      <b>
                          Maintenance Log
                      </b>
                  </span>
              </p>
              <ol>
                  <li>
                      <span style="font-family: tahoma, arial, helvetica, sans-serif;" data-mce-style="font-family: tahoma, arial, helvetica, sans-serif;">
                          <em>
                              The bathroom sink is leaking.&nbsp;
                          </em>
                      </span>
                      <br>
                      <span style="font-family: tahoma, arial, helvetica, sans-serif;" data-mce-style="font-family: tahoma, arial, helvetica, sans-serif;">
                          <span style="text-decoration: underline;" data-mce-style="text-decoration: underline;">
                              Submitted on
                          </span>
                          : 2/26/13﻿
                      </span>
                      <br>
                      <span style="font-family: tahoma, arial, helvetica, sans-serif;" data-mce-style="font-family: tahoma, arial, helvetica, sans-serif;">
                          <span style="text-decoration: underline;" data-mce-style="text-decoration: underline;">
                              Requested by
                          </span>
                          : Zack Warburg
                      </span>
                      <br>
                      <span style="font-family: tahoma, arial, helvetica, sans-serif;" data-mce-style="font-family: tahoma, arial, helvetica, sans-serif;">
                          <span style="text-decoration: underline;" data-mce-style="text-decoration: underline;">
                              Status
                          </span>
                          :
                          <span style="color: rgb(255, 0, 0);" data-mce-style="color: #ff0000;">
                              <strong>
                                  Submited
                              </strong>
                          </span>
                      </span>
                  </li>
                  <li>
                      <span style="font-family: tahoma, arial, helvetica, sans-serif;" data-mce-style="font-family: tahoma, arial, helvetica, sans-serif;">
                          <i>
                              Screen door is ripped.
                          </i>
                          <br>
                          <span style="text-decoration: underline;" data-mce-style="text-decoration: underline;">
                              Repair Scheduled for
                          </span>
                          : 2/19/13
                          <br>
                          <span style="text-decoration: underline;" data-mce-style="text-decoration: underline;">
                              Requested&nbsp;by
                          </span>
                          : Chris Horuk
                          <br>
                          <span style="text-decoration: underline;" data-mce-style="text-decoration: underline;">
                              Status
                          </span>
                          :&nbsp;
                          <span style="color: rgb(163, 163, 0);" data-mce-style="color: #a3a300;">
                              <strong>
                                  Scheduled
                              </strong>
                          </span>
                      </span>
                  </li>
                  <li>
                      <span style="font-family: tahoma, arial, helvetica, sans-serif;" data-mce-style="font-family: tahoma, arial, helvetica, sans-serif;">
                          <em>
                              Light switch in bedroom won't work
                          </em>
                          .
                      </span>
                      <br>
                      <span style="font-family: tahoma, arial, helvetica, sans-serif;" data-mce-style="font-family: tahoma, arial, helvetica, sans-serif;">
                          <span style="text-decoration: underline;" data-mce-style="text-decoration: underline;">
                              Resolved
                          </span>
                          : 2/14/13
                      </span>
                      <br>
                      <span style="font-family: tahoma, arial, helvetica, sans-serif;" data-mce-style="font-family: tahoma, arial, helvetica, sans-serif;">
                          <span style="text-decoration: underline;" data-mce-style="text-decoration: underline;">
                              Requested
                          </span>
                          <span style="text-decoration: underline;" data-mce-style="text-decoration: underline;">
                              by
                          </span>
                          : Raj Luhar
                      </span>
                      <br>
                      <span style="font-family: tahoma, arial, helvetica, sans-serif;" data-mce-style="font-family: tahoma, arial, helvetica, sans-serif;">
                          <span style="text-decoration: underline;" data-mce-style="text-decoration: underline;">
                              Status
                          </span>
                          :
                          <strong>
                              <span style="color: rgb(51, 153, 102);" data-mce-style="color: #339966;">
                                  Fixed
                              </span>
                          </strong>
                      </span>
                      <br>
                      <br>
                  </li>
              </ol>
              <p>
                  <br>
              </p>
              <p>
                  <br>
              </p>
          </div>
      </div>
