<!-- Maintenance Log (M) -->
<div data-role="content">
<ul data-role="listview" data-divider-theme="b" data-inset="true">
<li data-role="list-divider" role="heading">
Maintenance Log
</li>
<li data-theme="f">
<a href="#page23" data-transition="slide">
Fixed MM/DD/YY (Need Green Color)
</a>
</li>
<li data-theme="e">
<a href="#page23" data-transition="slide">
Scheduled MM/DD/YY
</a>
</li>
<li data-theme="e">
<a href="#page23" data-transition="slide">
Submitted MM/DD/YY
</a>
</li>
</ul>
</div>

