<!-- Payment History (R) -->
      <div data-role="content">
          <div>
              <p>
                  <b>
                      Payment History
                  </b>
              </p>
              <ul>
                  <li>
                      <strong>
                          $950 (Zack, 2/26/13)
                      </strong>
                      <b>
                      </b>
                  </li>
                  <li>
                      <em>
                          $950 (Chris, 2/26/13)
                      </em>
                  </li>
                  <li>
                      <em>
                          $950 (Raj, 2/25/13)
                      </em>
                  </li>
                  <li>
                      <em>
                          $950 (Raj, 1/27/13)
                      </em>
                  </li>
                  <li>
                      <strong>
                          $950 (Zack, 1/26/13)
                      </strong>
                  </li>
                  <li>
                      <em>
                          $950 (Chris, 1/25/13)
                      </em>
                  </li>
              </ul>
          </div>
      </div>