<!-- Payment History (R) -->
<div data-role="content">
<ul data-role="listview" data-divider-theme="b" data-inset="true">
<li data-role="list-divider" role="heading">
Your Payments
</li>
<li data-theme="c">
<a href="#page21" data-transition="slide">
$XXX.XX - MM/DD/YY
</a>
</li>
<li data-role="list-divider" role="heading">
Housemates' Payments
</li>
<li data-theme="c">
<a href="#page21" data-transition="slide">
$XXX.XX - Name, MM/DD/YY
</a>
</li>
</ul>
</div>