<!-- Settings (S) -->
<div data-role="content">
          <ul data-role="listview" data-divider-theme="b" data-inset="true">
              <li data-theme="b">
                  <a href="#page15" data-transition="slide">
                      Change Password
                  </a>
              </li>
              <li data-theme="b">
                  <a href="#page19" data-transition="slide">
                      Notification Settings
                  </a>
              </li>
          </ul>
</div>