<!-- Settings (S) -->
<div data-role="content">
        <ul data-role="listview" data-divider-theme="b" data-inset="true">
            <li data-theme="b">
                <a href="/settings/account_settings" data-transition="slide">
                    Account Settings
                </a>
            </li>
            <li data-theme="b">
                <a href="/settings/notification_settings" data-transition="slide">
                    Notification Settings
                </a>
            </li>
        </ul>
</div>